#boards-container {
    grid-row: 1 / 2;
    margin: 2rem 0;
    display: grid;
    gap: 1rem;
}

.board {
    display: grid;
    grid-template-columns: min-content auto;
}

.column-label {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
    width: 35vh;
    grid-column: 2 /3;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.row-label {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2 / 3;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.label-cell {
    display: grid;
    place-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
    width: 35vh;
    height: 35vh;
    border: 1px solid var(--start-btn-color);
}

.grid-cell {
    background: transparent;
    border: 1px solid black;
}

.occupied {
    background: lightgreen;
}

.hit {
    background: lightcoral;
}

.sunk {
    background: lightgray;
}

.miss {
    background: lightsalmon;
}

/* * Drag and drop */
.drag-over {
    border: 3px solid blue;
}
