:root {
    /* * Colors */
    --primary-color: #1e9bff;
    --secondary-color: #10c0e8;
    --tertiary-color: #38a5ff;
    --primary-text-color: white;

    /* * Grid */
    --grid-length: 33vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    max-height: 100vh;
    overflow-y: hidden;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(5, 5, 5, 1);
    /* ? light mode => background: url(../assets/img/background.jpg) center / cover no-repeat; */
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

main {
    min-height: 100vh;
    max-height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
}

.rotate90deg {
    transform: rotate(90deg) !important;
}
