:root {
    --start-btn-color: #1e9bff;
    --primary-text-color: rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    max-height: 100vh;
    overflow-y: hidden;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: center / cover no-repeat url(../assets/img/background.jpg);
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

main {
    min-height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    place-content: center;
    place-items: center;
}

/*.translate-Y {
    transform: translateY(-50vh) !important;
    transition: transform 1s ease-in;
}*/
/* transform: translateY(-500px) !important; */
