*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

#board {
    display: grid;
    grid-template-columns: min-content auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
    width: 600px;
    height: 600px;
}

.column-label {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    width: 600px;
    grid-column: 2 /3;
}

.row-label {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2 / 3;
}

.label-cell {
    display: grid;
    place-content: center;
}

.cell {
    background: lightblue;
}

.occupied {
    background: lightcoral;
}

.sunk {
    background: lightgray;
}
