#main-content {
    display: grid;
    place-content: center;
    place-items: center;
}

/* * BOARDS */
#boards-container {
    display: grid;
    grid-row: 1 / 2;
    margin: 1rem 0;
    gap: 0.5rem;
}

.player-name {
    /* font-family: 'Bagel Fat One', cursive; */
    /* font-family: 'Luckiest Guy', cursive; */
    /* font-family: 'Paytone One', sans-serif; */
    font-family: 'Rowdies', cursive;
    letter-spacing: 0.1rem;
    text-align: center;
    font-weight: bold;
    /* color: var(--primary-text-color); */
    color: var(--secondary-text-color);

    text-transform: capitalize;
}

.board {
    display: grid;
    grid-template-columns: min-content auto;
    /* font-family: 'Luckiest Guy', cursive; */
    font-family: 'Bagel Fat One', cursive;
    color: var(--primary-text-color);
}

.column-label {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
    width: 30vh;
    grid-column: 2 /3;
    font-weight: bold;
    /* color: var(--primary-text-color); */
}

.row-label {
    display: grid;
    grid-row: 2 / 3;
    font-weight: bold;
    padding-right: 3px;
    /* color: var(--secondary-text-color); */
}

.label-cell {
    display: grid;
    place-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* gap: 1px; */
    width: 30vh;
    height: 30vh;
    border: 1px solid var(--primary-color);
    border-image: linear-gradient(270deg, #222f3d, #dde6e8, #222f3d);
    border-image-slice: 1;
}

.grid-cell {
    background: transparent;
    border: 1px solid var(--primary-text-color);
    border-image: linear-gradient(
        270deg,
        var(--primary-text-color),
        var(--secondary-color),
        var(--primary-text-color)
    );
    border-image-slice: 1;
}

.occupied {
    /* box-shadow: inset rgba(31, 188, 156, 1) 2px 2px 5px 1px, inset rgba(31, 188, 156, 1) -2px -2px 5px 1px;
    background: rgba(0, 0, 0, 0.5); */
}

.hit {
    /* box-shadow: inset rgba(242, 197, 17, 1) 2px 2px 5px 1px, inset rgba(242, 197, 17, 1) -2px -2px 5px 1px;
    background: rgba(0, 0, 0, 0.5); */
    animation: cell-animation 0.2s ease-in-out;
}

.sunk {
    /* box-shadow: inset rgba(184, 12, 9, 1) 2px 2px 5px 1px, inset rgba(184, 12, 9, 1) -2px -2px 5px 1px;
    background: rgba(0, 0, 0, 0.5); */
    animation: cell-animation 0.3s ease-in-out;
}

.miss {
    /* box-shadow: inset rgba(189, 195, 200, 1) 2px 2px 5px 1px, inset rgba(189, 195, 200, 1) -2px -2px 5px 1px;
    background: rgba(0, 0, 0, 0.5); */
}

@keyframes cell-animation {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}

/* * Drag and drop */
.drag-over {
    box-shadow: inset rgba(31, 188, 156, 1) 2px 2px 5px 1px, inset rgba(31, 188, 156, 1) -2px -2px 5px 1px;
    background: rgba(0, 0, 0, 0.5);
}

/* * SHIPS LIST */
#ships-list-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.ship-svg {
    margin: auto;
    background: center no-repeat url(../assets/svg/warship.svg);
    min-height: 40px;
    min-width: 60px;
    cursor: pointer;
}

.ship-svg:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.ship-item-svg {
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-text-color);

    /* font-family: 'Bagel Fat One', cursive; */
    /* font-family: 'Luckiest Guy', cursive; */
    /* font-family: 'Paytone One', sans-serif; */
    font-family: 'Rowdies', cursive;
}

.ship-cells {
    display: flex;
    gap: 1px;
}

.ship-cell {
    width: 3vh;
    height: 3vh;
    box-shadow: inset rgba(31, 188, 156, 1) 2px 2px 5px 1px, inset rgba(31, 188, 156, 1) -2px -2px 5px 1px;
    border: 1px solid black;
    transition: transform 0.3s ease;
}

.ship-cell.vertical {
    transform: rotate(90deg);
}

#random-place-btn {
    background-image: url('../assets/svg/dice.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    margin: 0.5rem;
}

#random-place-btn:hover {
    transform: rotate(180deg) scale(1.1);
}

@media screen and (min-width: 768px) {
    #main-content {
        grid-template-columns: auto auto;
        column-gap: 2rem;
    }

    #random-place-btn {
        width: 65px;
        height: 65px;
    }

    /* *BOARDS */
    #boards-container {
        grid-template-columns: min-content auto;
    }

    .column-label {
        width: 35vh;
    }

    .grid {
        width: 35vh;
        height: 35vh;
    }

    .player-name {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    /* *SHIPS LIST */
    #ships-list-container {
        display: flex;
        flex-direction: column;
        min-width: 18vh;
    }

    .ship-item-svg {
        min-height: 9vh;
    }

    .ship-svg {
        min-height: 60px;
    }

    .ship-cell {
        width: 3.3vh;
        height: 3.3vh;
    }
}
