#main-content {
    display: grid;
    place-content: center;
    place-items: center;
}

/* * BOARDS */
#boards-container {
    display: grid;
    grid-row: 1 / 2;
    margin: 1rem 0;
    gap: 0.5rem;
}

.player-name {
    text-align: center;
    font-weight: bold;
    color: var(--primary-text-color);
}

.board {
    display: grid;
    grid-template-columns: min-content auto;
}

.column-label {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
    width: 30vh;
    grid-column: 2 /3;
    font-weight: bold;
    color: var(--primary-text-color);
}

.row-label {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2 / 3;
    font-weight: bold;
    color: var(--primary-text-color);
}

.label-cell {
    display: grid;
    place-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
    width: 30vh;
    height: 30vh;
    border: 1px solid var(--start-btn-color);
}

.grid-cell {
    background: transparent;
    border: 1px solid var(--primary-text-color);
}

.occupied {
    background: lightgreen !important;
}

.hit {
    background: lightcoral !important;
}

.sunk {
    background: lightgray !important;
}

.miss {
    background: lightsalmon !important;
}

/* * Drag and drop */
/* todo => Improve dragging styles */
.drag-over {
    border: 3px solid blue;
}

.dragging-ship {
    border: 2px dashed blue;
    /* transform: rotate(90deg); */
}

/* * SHIPS LIST */
#ships-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: min-content;
    width: 30vh;
}

.ship-svg {
    margin: auto;
    background: center no-repeat url(../assets/svg/warship.svg);
    height: 40px;
}

.ship-item-svg {
    text-align: center;
    text-transform: capitalize;
}

.ship-cells {
    display: flex;
    gap: 1px;
}

.ship-cell {
    width: 3vh;
    height: 3vh;
    background: lightcoral;
    border: 1px solid black;
}

@media screen and (min-width: 768px) {
    #main-content {
        grid-template-columns: auto auto;
        column-gap: 2rem;
        /* todo => Fix why grid moves while dragging (width issue) */
    }

    /* *BOARDS */
    #boards-container {
        grid-template-columns: min-content auto;
    }

    .column-label {
        width: 35vh;
    }

    .grid {
        width: 35vh;
        height: 35vh;
    }

    .player-name {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    /* *SHIPS LIST */
    #ships-list-container {
        display: flex;
        flex-direction: column;
        max-width: min-content;
    }

    .ship-svg {
        height: 60px;
    }

    .ship-cell {
        width: 3.3vh;
        height: 3.3vh;
    }
}
