#main-content {
    display: grid;
    place-content: center;
    place-items: center;
}

/* * BOARDS */
#boards-container {
    display: grid;
    grid-row: 1 / 2;
    margin: 1rem 0;
    gap: 0.5rem;
}

.player-name {
    /* font-family: 'Bagel Fat One', cursive; */
    /* font-family: 'Luckiest Guy', cursive; */
    /* font-family: 'Paytone One', sans-serif; */
    font-family: 'Rowdies', cursive;
    letter-spacing: 0.1rem;
    text-align: center;
    font-weight: bold;
    color: var(--primary-text-color);
    text-transform: capitalize;
}

.board {
    display: grid;
    grid-template-columns: min-content auto;
    /* font-family: 'Luckiest Guy', cursive; */
    font-family: 'Bagel Fat One', cursive;
    color: var(--tertiary-color);
}

.column-label {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
    width: var(--grid-length);
    grid-column: 2 /3;
    font-weight: bold;
    padding-bottom: 5px;
}

.row-label {
    display: grid;
    grid-row: 2 / 3;
    font-weight: bold;
    padding-right: 5px;
}

.label-cell {
    display: grid;
    place-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* ? gap: 1px; */
    width: var(--grid-length);
    height: var(--grid-length);
    border: 1px solid var(--primary-color);
    border-image: linear-gradient(270deg, #222f3d, #dde6e8, #222f3d);
    border-image-slice: 1;
}

.grid-cell {
    background: transparent;
    border: 1px solid var(--primary-text-color);
    border-image: linear-gradient(270deg, grey, var(--secondary-color), grey);
    border-image-slice: 1;
}

.occupied {
    /* ?box-shadow: inset rgba(31, 188, 156, 1) 3px 3px 3px 2px, inset rgba(31, 188, 156, 1) -3px -3px 3px 2px; */
    box-shadow: inset rgba(31, 188, 156, 1) 2px 2px 5px 1px, inset rgba(31, 188, 156, 1) -2px -2px 5px 1px;
}

.hit {
    box-shadow: inset #ff702b 3px 3px 3px 2px, inset #ff702b -3px -3px 3px 2px;

    animation: cell-animation 0.2s ease-in-out;
}

.sunk {
    box-shadow: inset #ff3f38 3px 3px 3px 2px, inset #ff3f38 -3px -3px 3px 2px;

    animation: cell-animation 0.3s ease-in-out;
}

.miss {
    background: radial-gradient(transparent, transparent, #365f80, transparent, transparent);
}

@keyframes cell-animation {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}

/* * Drag and drop */
.drag-over {
    box-shadow: inset rgba(31, 188, 156, 1) 2px 2px 5px 1px, inset rgba(31, 188, 156, 1) -2px -2px 5px 1px;
    background: rgba(0, 0, 0, 0.5);
}

/* * SHIPS LIST */
#ships-list-container {
    justify-self: stretch;
    display: grid;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.ship-item {
    display: grid;
    gap: 0.1rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-text-color);

    /* font-family: 'Bagel Fat One', cursive; */
    /* font-family: 'Luckiest Guy', cursive; */
    /* font-family: 'Paytone One', sans-serif; */
    font-family: 'Rowdies', cursive;
    max-width: calc(var(--grid-length) / 3.1);
}

.ship-item:hover {
    color: var(--tertiary-color);
}

.ship-svg {
    margin: auto;
    background: center no-repeat url(../assets/svg/warship.svg);
    min-height: 40px;
    min-width: 60px;
    cursor: pointer;
}

.ship-svg:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.ship-cells {
    display: flex;
    gap: 1px;
}

.ship-cell {
    width: calc(0.1 * var(--grid-length));
    height: calc(0.1 * var(--grid-length));
    box-shadow: inset rgba(31, 188, 156, 1) 2px 2px 5px 1px, inset rgba(31, 188, 156, 1) -2px -2px 5px 1px;
    border: 1px solid black;
    transition: transform 0.3s ease;
}

.ship-cell.vertical {
    transform: rotate(90deg);
}

#random-place-btn {
    background-image: url('../assets/svg/dice.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    margin: 0.5rem;
}

#random-place-btn:hover {
    transform: rotate(180deg) scale(1.1);
}

#replay-btn {
    background: transparent;
}

@media screen and (min-width: 768px) {
    :root {
        --grid-length: 40vh;
    }
    #main-content {
        grid-template-columns: auto auto;
        column-gap: 2rem;
    }

    #random-place-btn {
        width: 70px;
        height: 70px;
    }

    /* *BOARDS */
    #boards-container {
        grid-template-columns: min-content auto;
    }

    .column-label {
        width: var(--grid-length);
    }

    .grid {
        width: var(--grid-length);
        height: var(--grid-length);
    }

    .player-name {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    /* *SHIPS LIST */
    #ships-list-container {
        grid-template-columns: 1fr;
        gap: 0;
        grid-template-rows: repeat(5, calc(0.24 * var(--grid-length)));
        min-width: calc(0.525 * var(--grid-length));
    }

    .ship-item {
        gap: 0.3rem;
    }
}
