#ships-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: min-content;
    width: 30vh;
    place-items: center;
}

#ships-list-container .ship-item:last-child {
    grid-column: span 2;
}

.ship-item {
    height: min-content;
    text-align: center;
    text-transform: capitalize;
}

.ship-cells {
    display: flex;
    gap: 1px;
}

.ship-cell {
    width: 3vh;
    height: 3vh;
    background: lightcoral;
    border: 1px solid black;
}

.dragging-ship {
    border: 2px dashed blue;
}

@media screen and (min-width: 768px) {
    .ship-cell {
        width: 3.5vh;
        height: 3.5vh;
    }
}
